<template name="tableheader_read">
		<thead>
			<tr>
				<th> Author </th>
				<th> Title </th>
				<th> Genre </th>
				<th> Pages </th>
				<th> Start </th>
				<th> End </th>
			</tr>
		</thead>		
</template> 

<template name="tabledata_read"> 
	{{#each read}}
	<tr>
		<td>{{author}}</td>
		<td>{{title}}</td> 
    	<td>{{genre}}</td>
    	<td>{{pages}}</td>
    	<td>{{start}}</td>
    	<td>{{end}}</td>
	</tr>
	{{/each}}
</template>


<template name="tableheader_reading">
		<thead>
			<tr>
				<th> Author </th>
				<th> Title </th>
				<th> Genre </th>
				<th> Pages </th>
				<th> Start </th>
			</tr>
		</thead>		
</template> 

<template name="tabledata_reading"> 
	{{#each reading}}
	<tr>
		<td>{{author}}</td>
		<td>{{title}}</td> 
    	<td>{{genre}}</td>
    	<td>{{pages}}</td>
    	<td>{{start}}</td>
	</tr>
	{{/each}}
</template>




<template name="tableheader_willread">
		<thead>
			<tr>
				<th> Author </th>
				<th> Title </th>
				<th> Genre </th>
				<th> Pages </th>
				
			</tr>
		</thead>		
</template> 

<template name="tabledata_willread"> 
	{{#each reading}}
	<tr>
		<td>{{author}}</td>
		<td>{{title}}</td> 
    	<td>{{genre}}</td>
    	<td>{{pages}}</td>
    	
	</tr>
	{{/each}}
</template>