<template name="tableheader">
	 
		<thead>
			<tr>
				<th> Author </th>
				<th> Title </th>
				<th> Genre </th>
				<th> Pages </th>
				<th> Start </th>
				<th> End </th>
			</tr>
		</thead>
		
</template> 

<template name="tabledata"> 
	 
	<tr>
		<td>Kurt Vonnegut</td>
		<td>Slaughterhouse Five</td> 
    	<td>Sci-Fi</td>
    	<td> 355 </td>
    	<td> August 13 </td>
    	<td> August 25 </td>
	</tr>
		<tr>
		<td>John Irving</td>
		<td>Cider House Rules</td> 
    	<td>Realistic Fiction</td>
    	<td> 431 </td>
    	<td> August 22 </td>
    	<td> August 29 </td>
	</tr>
	

</template>
