body {
  background: #ddd;
  color: #666666; 
}

.container {
  width: 70%;
}


td {
  padding-left: 25px; 
}

#addbutton {
	
	position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom:10px;

}

.btn-info {
  width: 100px;
  position:relative;
  left: 45%;
  
}

.main {
  width: 70%;
  margin:0 auto;
}

.form-control {
  width: 70%;
}