body {
  background: #ddd;
  color: #666666; 
}

.container {
  width: 70%;
}


td {
  padding-left: 25px; 
}

.btn {
	
	position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom:10px;

}